body {
	margin: 0;
}

.nav {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(63, 56, 95);
	opacity: 90%;
}

.nav-map {
	float: left;
	display: block;
	color: #aaaaaa;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
.nav-map:hover {
	color: snow;
}

.active {
	color: snow
}

.map-container {
	width: 100vw;
	height: 100vh;
}

.banner {
	position: absolute;
	border: 0;
	padding: 0;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	text-align: center;
	font-size: 8vh;
}

.counter {
	position: absolute;
	border: 0;
	padding: 0;
	padding-left: 16px;
	bottom: 0;
	width: 10vw;
	height: 10vh;
	text-align: left;
	font-size: 4vh;
	color: snow;
}

.guess {
	background-color: rgb(63, 56, 95);
	opacity: 90%;
	color: snow;
}

.result {
	z-index: 1;
}

.correct {
	background-color: #88FF88;
	color: snow;
}

.wrong {
	background-color: #FF8888;
	color: snow;
}

.hidden {
	visibility: hidden;
}