body {
	margin: 0;
}

.map-container {
	width: 100vw;
	height: 100vh;
}

.guess {
	position: absolute;
	border: 0;
	padding: 0;
	bottom: 0;
	width: 100vw;
	height: 10vh;
	background-color: rgb(63, 56, 95);
	opacity: 90%;
	text-align: center;
	font-size: 8vh;
	color: snow;
}